<!--https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js-->
<html>
<head>
<title="Intro">
</title>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.4.2/css/bulma.css"></link>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div id="root">
    <h3>Projects</h3>
    <div v-for="project in projects">{{project.toString()}}</div>
    <form method="POST" action="#" @submit.prevent="onSubmit" @keydown="form.errors.clear($event.target.name)">
      <div>Name: <input type="text" placeholder="project name" name="name" v-model="form.name"></input></div>
      <span v-if="form.errors.has('name')" v-text="form.errors.get('name')"></span>
      <div>Description: <input type="text" placeholder="Description" name="description" v-model="form.description"></input></div>
      <span v-if="form.errors.has('description')" v-text="form.errors.get('description')"></span>
      <div><button :disabled="form.errors.hasAny()">Submit</button></div>
    </form>
  </div>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.3.4/vue.js"></script>
  <script src="lesson21.js"></script>
</body>
</html>
